/* Product Detail Banner */

/* PDP主容器：Flex布局 */
.pdp-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1120px;
}

/* 左侧产品图区域 */
.pdp-media {
  width: 640px;
}

.pdp-media * {
  box-sizing: border-box;
}

/* 主图容器 */
.pdp-media .pdp-main-img {
  width: 640px;
  height: 360px;
  margin-bottom: 34px;
  position: relative;
}

.pdp-specs-btn img {
  width: 18px;
  height: 18px;
}

.pdp-media .pdp-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 缩略图导航 */
.pdp-media .scroll-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* 左右箭头按钮 */
.pdp-media .scroll-btn {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
  transition: color 0.3s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pdp-media .scroll-btn:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.pdp-media .scroll-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pdp-media .scroll-btn:disabled img.click-icon {
  display: none;
}

.pdp-media .scroll-btn:not(:disabled) img.disabled-icon {
  display: none;
}

/* 滚动容器：溢出隐藏 */
.pdp-media .tabs-container {
  overflow: hidden;
  height: 74px;
}

.pdp-media .product-filters {
  display: flex;
  gap: 12px;
  width: 508px;
  scroll-behavior: smooth;
  overflow: scroll hidden;
  list-style: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 0 24px;
  padding: 0;
}

.pdp-media .product-filters::-webkit-scrollbar {
  display: none;
}

.pdp-media .product-filter {
  width: 118px;
  height: 74px;
  border: 1px solid rgb(102 102 102 / 100%);
  border-radius: 20px;
  flex-shrink: 0;
  list-style: none;
}

.pdp-media .product-filter-item {
  width: 118px;
  height: 74px;
  border: 1px solid rgb(102 102 102 / 100%);
  border-radius: 8px;
  flex-shrink: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.pdp-media .product-filter-item .product-filter-img-box,
.pdp-media .product-filter-item .product-filter-img {
  width: 100%;
  height: 100%;
}

.pdp-media .product-filter-item picture {
  width: 100%;
  height: 100%;
  display: flex;
}

.pdp-media .product-filter-item img {
  width: 100%;
  height: 100%;
}

@media (width <=600px) {
  .pdp-media .scroll-tabs {
    width: 100vw;
    margin-left: 18px;
  }

  .pdp-media {
    width: 100%;
  }

  .pdp-media .pdp-main-img {
    width: 100vw;
    height: auto;
    padding: 0 18px;
  }

  .pdp-media .scroll-btn {
    display: none;
  }
}