.video-content {
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.video-cover-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

video{
  width: 100%;
  height: 100%;
}

.video h1 {
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.video picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.video img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media (width <= 600px) {
  .video {
     min-height: unset;
     padding: 20px 0;
  }
}
