.plp-products-box {
    flex: 1;
    height: 100%;
}

.plp-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    padding: 16px 20px 20px;
}

[data-aue-model="plp-product-card"].plp-product-card >div:not(.plp-products-box) {
  display: none;
}

.plp-product-card {
  height: 100%;
}

.plp-product-card-title {
    width: 65px;
    height: 20px;
    margin-bottom: 8px;
  display: none;
}

.plp-product-img {
  width: 100%;
  height: 124px;
  margin-bottom: 20px;
  padding: 12px 28px;
  text-align: center;
}

.plp-product-img img {
  width: auto;
  height: 100%
}

.plp-product-series {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 132 130 / 100%);
    height: 20px;
    line-height: 20px;
}

.plp-product-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 8px;
}

.plp-product-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.plp-product-size {
    /* padding: 4px 8px; */
    width: 31px;
    height: 25px;
    border: 1px solid rgb(204 204 204 / 100%);
    color: rgb(102 102 102 / 100%);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.plp-product-size.selected {
    border-color: rgb(51 51 51 / 100%);
    color: rgb(51 51 51 / 100%);
}

.plp-product-card .plp-product-btn {
    display: inline-block;
    padding: 0 14px;
    border: 1px solid rgb(0 0 0 / 100%);
    border-radius: 15px;
    background: transparent;
    color: rgb(0 0 0 / 100%);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    margin-top: auto;
    align-self: flex-start;
}

.plp-product-card .plp-product-btn:hover {
  background-color: #333;
  border-color: #666;
  color: #fff;
  text-decoration: none;
}

.plp-product-card .plp-product-btn:active {
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-decoration: none;
}

.plp-load-more {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.plp-load-more span {
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 100%);
}

.plp-products-box:has(.plp-products:empty) .plp-load-more  {
  display: none;
}

.plp-products-no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 36px;
  color: #666;
  text-transform: uppercase;
  height: 100%;
}

@media (width <= 600px) {
  main > .section > div.plp-product-card-wrapper {
    padding: 0 !important;
    grid-column: 1 / -1;
  }

  .plp-products-box .plp-products {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 8px;

    .product-card {
      padding: 12px 16px 16px;
      border-radius: 16px;
    }

    .plp-product-img {
      height: 100px;
      margin-bottom: 16px;
      padding: 12px 11px;
    }

    .plp-product-series {
      font-size: 12px;
    }

    .plp-product-name {
      font-size: 16px;
      line-height: 21px;
    }

    .plp-product-sizes {
      gap: 6px;
    }
  }

  .plp-load-more {
    margin-top: 16px;
  }
}
