.center-style > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.center-style > ul > li {
  background-color: var(--background-color);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.center-style .cards-card-body {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  top: 40px;
  font-size: 24px;
  color: #000;

}

.center-style p{
  margin: 0;
}

.center-style .cards-card-image {
  line-height: 0;
}

.center-style > ul > li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

