.icon-component-container {
  overflow: hidden;
}

.icon-component {
  position: relative;

  p {
    margin: 0;
    font-weight: 500;
  }
}

.icon-component > div:nth-child(1) {
  color: var(--color-hisense-teal);
  font-size: var(--body-font-size-l);
  line-height: 1;
  font-weight: 400;
}

.icon-component > div:nth-child(2) {
  font-size: var(--heading-font-size-l);
  font-weight: 500;
  line-height: 1;

  p {
    margin-top: 10px;
  }
}

.icon-viewport {
  width: 100%;
  margin: 32px 0 ;

  &::-webkit-scrollbar{
    display:none
  }
}

.icon-viewport ul{
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.icon-viewport ul>li {
  box-sizing: border-box;
  list-style: none;
  border: 1px solid #8f8f8f;
  width: 210px;
  height: 200px;
  border-radius: 20px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: white;

  /* &:hover {
    width: 279px;
  } */

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;

    /* > p {
      margin: 0;
    } */

    div:nth-child(2) {
      font-weight: 400;
    }

    .item-picture {
      height: auto;
    }

    .item-cta{
      display: none;
    }

    .item-cta.show{
      display: none;
    }
  }
}

.text-left {
  .icon-viewport ul>li {
    border: none;
    background-color: var(--color-hisense-grey-04);
    padding: 20px;

    .item {
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
      text-align: left;
    }

    .item-picture {
      height: auto;
      width: 100%;
    }

    p {
      text-align: left;
    }

  }
}

.pagination {
  position: absolute;
  top: 34px;
  right: 0;
  display: none;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;

  button {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-hisense-teal);
    color: var(--color-hisense-teal);
    background-color: white;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    transition: background-color 0.2s;

    &::after {
      display: block;
      content: '';
      border: 2px solid;
      border-bottom: 0;
      border-left: 0;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 50%;
      left: calc(50% + 2px);
      transform: translate(-50%, -50%) rotate(-135deg);
    }

    &.slide-next::after {
      transform: translate(-50%, -50%) rotate(45deg);
      left: calc(50% - 2px);
    }

    &:disabled {
      border-color: var(--color-hisense-grey-02);
      color: var(--color-hisense-grey-02);
    }
  }
}

.pagination.show {
  display: flex;
}

.dark .pagination button {
  &:disabled {
    border-color: var(--color-hisense-grey-03);
  }
}

@media (width <= 600px) {
  .pagination.show {
    display: none;
  }

  .icon-component > div:nth-child(2) {
    p {
      margin-top: 8px;
      font-size: 24px;
    }
  }

  .icon-viewport {
    margin-top: 18px;
    overflow: visible;

    ul>li {
      width: 240px;
    }

    .icon-track {
      gap: 16px;
      margin: 0 -24px;
      padding: 0 24px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-snap-type: x mandatory; /* 强制水平吸附 */
      scroll-behavior: smooth;
    }
  }
}
