/* plp-product-filter-tag styles */

.plp-sidebar {
    width: 256px;
    flex-shrink: 0;
    padding: 14px 25px;
    border-radius: 20px;
    background: #fff;
}

.plp-filter-group {
  padding: 14px 0;
}

.plp-filter-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 0 0 0 14px;
}

.plp-filter-group.hide .plp-filter-list {
  display: none;
}

.plp-filter-group img {
  transition: transform .5s cubic-bezier(0, 0.18, 0.07, 1), -webkit-transform .5s cubic-bezier(0, 0.18, 0.07, 1);
}

.plp-filter-title img {
  width: 20px;
  height: 20px;
}

.plp-filter-group.hide img {
  transform: rotate(180deg);
}

.plp-filter-group:not(:last-child) {
  border-bottom: 1px solid rgb(165 225 225 / 100%);
}

/* title row */

.plp-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  padding: 0 14px;
}

.plp-filter-title span {
  font-weight: 500;
  font-size: 14px;
}

/* tags list */

.plp-filter-title.hide .plp-filter-list{
  display: none;
}

.plp-filter-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 6px;
  font-size: 12px;
  height: 20px;
  font-weight: 400;
}

.plp-filter-item span {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  color: rgb(51 51 51 / 100%);
  font-weight: 400;
}

.plp-filter-item input[type="checkbox"] {
  appearance: none;
  outline: none;
  border: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.plp-filter-item label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  color: #333;
  line-height: 20px;
}

.plp-filter-item label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.plp-filter-item input[type="checkbox"]:checked + label::before {
  border-color: #009F9C;
  background-color: #009F9C;
}

.plp-filter-item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 3.5px;
  height: 7.5px;
  border-radius: 1px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

.plp-mobile-filters-tit-box {
  display: none;
}

@media (width <= 600px) {
  .plp-product-filter-tag-wrapper {
    display: none;
    position: fixed;
    inset: 0;
    background: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 14px !important;
    z-index: 1000000 ;
    height: 100vh;

    .plp-sidebar {
      padding: 0;
      width: 100%;
    }
  }

  .mobile-filter-show {
    display: block;    
  }

  .plp-mobile-filters-tit-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .mobile-filter-close {
      cursor: pointer;

      img {
        position: relative;
        top: 8px;
      }
    }
  }
}