/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

html {
	scroll-behavior: auto !important;
}

:root {
	/* colors - to be removed */
	--background-color: white;
	--light-color: #f8f8f8;
	--dark-color: #505050;
	--text-color: #131313;
	--link-color: #3b63fb;
	--link-hover-color: #1d3ecf;

	/* color system */
	--color-white: white;
	--color-hisense-teal: #00aaa6;
	--color-hisense-green-01: #50c3c3;
	--color-hisense-green-02: #a5e1e1;
	--color-hisense-green-03: #c8efef;
	--color-hisense-green-04: #e6fafa;
	--color-hisense-black: #000;
	--color-hisense-grey-01: #333;
	--color-hisense-grey-02: #666;
	--color-hisense-grey-03: #ccc;
	--color-hisense-grey-04: #f7f7f7;
	--color-hisense-grey-05: #f4f4ff4;

	/* background colors */
	--background-light: var(--color-white);
	--background-grey: var(--color-hisense-grey-04);
	--background-dark: var(--color-hisense-black);

	/* text colors */
	--text-dark: var(--color-white);
	--text-light: var(--color-hisense-black);

	/* fonts */
	--font-family: 'Hisense Sans Alfabet', sans-serif;

	/* body sizes - small viewport - TBC */
	--body-font-size-xl: 1rem;
	--body-font-size-l: 0.875rem;
	--body-font-size-m: 0.75rem;
	--body-font-size-s: 0.75rem;
	--body-font-size-xs: 0.675rem;

	/* heading sizes - small viewport - TBC */
	--heading-font-size-xxl: 2.5rem;
	--heading-font-size-xl: 1.875rem;
	--heading-font-size-l: 1.625rem;
	--heading-font-size-m: 1.5rem;
	--heading-font-size-s: 1.125rem;
	--heading-font-size-xs: 1rem;

	/* heading line height */
	--line-height-s: 1.1;
	--line-height-m: 1.2;
	--line-height-l: 1.4;

	/* container */
	--container-max-width: 1184px;
	--container-padding: 16px;
	--gutter: 16px;
	--column-gap: 16px;
	--row-gap: 16px;
	--gap: 16px;

	/* border-radius */
	--border-radius-l: 20px;
	--border-radius-m: 8px;
	--border-radius-s: 6px;

	/* spacing */
	--spacing-vertical-s: 40px;
	--spacing-vertical-m: 60px;
	--spacing-vertical-l: 80px;
	--spacing-vertical-xl: 120px;

	/* header */
	--nav-height: 0px;
	--header-light-color: #333;
	--header-dark-color: #fff;
	--header-active-color: var(--header-light-color);
	--header-backgroundcolor: rgb(244 248 247 / 100%);
}

.header-dark-mode {
	--header-active-color: var(--header-dark-color);
}

@media (width >= 600px) {
	:root {
		/* body sizes */
		--body-font-size-xl: 1.25rem;
		--body-font-size-l: 1rem;
		--body-font-size-m: 0.875rem;
		--body-font-size-s: 0.75rem;
		--body-font-size-xs: 0.675rem;

		/* heading sizes */
		--heading-font-size-xxl: 2.875rem;
		--heading-font-size-xl: 2.625rem;
		--heading-font-size-l: 2.125rem;
		--heading-font-size-m: 1.875rem;
		--heading-font-size-s: 1.625rem;
		--heading-font-size-xs: 1.5rem;

		/* container */
		--container-padding: 32px;
		--gutter: 24px;
		--column-gap: 24px;
		--row-gap: 24px;
		--gap: 24px;
	}
}

body {
	display: none;
	margin: 0;
	background-color: var(--background-light);
	color: var(--text-color);
	font-family: var(--font-family);
	font-weight: lighter;
	font-size: var(--body-font-size-l);
	line-height: var(--line-height-l);
}

body.appear {
	display: block;
}

header {
	height: var(--nav-height);
}

header .header,
footer .footer {
	visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
	visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-family: var(--font-family);
	font-weight: 500;
	scroll-margin: 40px;
}

h1 {
	font-size: var(--heading-font-size-xxl);
	line-height: var(--line-height-s);
}

h2 {
	font-size: var(--heading-font-size-xl);
	line-height: var(--line-height-s);
}

h3 {
	font-size: var(--heading-font-size-l);
	line-height: var(--line-height-m);
}

h4 {
	font-size: var(--heading-font-size-m);
	line-height: var(--line-height-m);
}

h5 {
	font-size: var(--heading-font-size-s);
	line-height: var(--line-height-m);
}

h6 {
	font-size: var(--heading-font-size-xs);
	line-height: var(--line-height-m);
}

p,
dl,
ol,
ul,
pre,
blockquote {
	margin-top: 0.8em;
	margin-bottom: 0.25em;
}

code,
pre {
	font-size: var(--body-font-size-s);
}

pre {
	padding: 16px;
	border-radius: 8px;
	background-color: var(--light-color);
	overflow-x: auto;
	white-space: pre;
}

main * {
  box-sizing: border-box;
}

main > div {
	margin: 40px 16px;
}

input,
textarea,
select,
button {
	font: inherit;
}

/* links */
a:any-link {
	color: var(--link-color);
	text-decoration: none;
	overflow-wrap: break-word;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
	box-sizing: border-box;
	display: inline-block;
	max-width: 100%;
	margin: 12px 0;
	border: 2px solid transparent;
	border-radius: 2.4em;
	padding: 0.5em 1.2em;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	text-decoration: none;
	background-color: var(--link-color);
	color: var(--background-color);
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
	background-color: var(--link-hover-color);
	cursor: pointer;
}

button:disabled,
button:disabled:hover {
	background-color: var(--light-color);
	cursor: unset;
}

a.button.secondary,
button.secondary {
	background-color: unset;
	border: 2px solid currentcolor;
	color: var(--text-color);
}

main img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.ratio-4-3 img {
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.ratio-3-2 img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

.icon {
	display: inline-block;
	height: 24px;
	width: 24px;
}

.icon img {
	height: 100%;
	width: 100%;
}

/* ========== display ========== */
.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.d-grid {
	display: grid;
}

/* ========== text align ========== */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

/* ========== border radius ========== */
.br-l {
	border-radius: var(--border-radius-l);
}

.br-m {
	border-radius: var(--border-radius-m);
}

.br-s {
	border-radius: var(--border-radius-s);
}

/* ========== sections ========== */
main .section {
	margin: 0;
	padding: 0;
}

main > .section:first-of-type {
	margin-top: 0;
}

/* section container */
main > .section > div,
.h-grid-container {
	max-width: var(--container-max-width);
	margin: auto;
	padding: 0 24px;
}

@media (width >= 900px) {
	main > .section > div,
	.h-grid-container {
		padding: 0 32px;
	}
}

/* ========== section metadata ========== */
main {
	/* section theme */

	.section.light {
		background-color: var(--background-light);
		color: var(--text-light);
	}

	.section.grey {
		background-color: var(--background-grey);
		color: var(--text-light);
	}

	.section.dark {
		background-color: var(--background-dark);
		color: var(--text-dark);
	}

	.section.gray-00 {
		background: #1D1D1F;
		color: var(--text-dark);
	}
	
	.section.gradient-gray {
		background: linear-gradient(to bottom, #000, rgb(29 29 31), rgb(29 29 31));
		color: var(--text-dark);
	}

	/* section container type */

	.section.fluid > div {
		max-width: unset;
		padding: 0;
	}

	/* section padding */

	.section.pt-s {
		padding-top: var(--spacing-vertical-s);
	}

	.section.pt-m {
		padding-top: var(--spacing-vertical-m);
	}

	.section.pt-l {
		padding-top: var(--spacing-vertical-l);
	}

	.section.pt-xl {
		padding-top: var(--spacing-vertical-xl);
	}

	.section.pb-s {
		padding-bottom: var(--spacing-vertical-s);
	}

	.section.pb-m {
		padding-bottom: var(--spacing-vertical-m);
	}

	.section.pb-l {
		padding-bottom: var(--spacing-vertical-l);
	}

	.section.pb-xl {
		padding-bottom: var(--spacing-vertical-xl);
	}

	/* section image style */

	.section.img-rounded img {
		border-radius: var(--border-radius-l);
	}

	.section.img-rounded video {
		border-radius: var(--border-radius-l);
	}
}

/* ========== header footer ========== */
main .section.navigation-item-container {
	display: none;
}

main > .footer-container.section {
	margin: 0;
}
