.properties {
	background: var(--background-light);
	color: var(--text-light);
	padding: 30px;
	display: flex;
	flex-direction: column;

	button {
		all: unset;
		cursor: pointer;
	}

	img {
		transition: transform 0.3s ease;
	}

	p {
		margin: 0;
	}

	.properties-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.properties-header:hover {
		color: var(--color-hisense-teal);
	}

	.properties-header-title {
		font-size: var(--heading-font-size-xs);
		font-weight: 500;
		margin: 0;
	}

	.properties-content {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		width: 100%;
		padding: 24px 0;
		border-bottom: 1px solid var(--color-hisense-teal);
	}

	.property {
		width: calc(50% - (24px * 3 / 4));
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		font-size: var(--body-font-size-s);

		@media (width >= 600px) {
			width: calc(25% - (24px * 3 / 4));
		}
	}

	.property-name {
		font-weight: 500;
		color: var(--color-hisense-grey-01);
	}
}

.properties.expanded {
	img {
		transform: rotate(0deg);
	}
}

.properties:not(.expanded) {
	.properties-content {
		display: none;
	}

	img {
		transform: rotate(-180deg);
		transition: transform 0.3s ease;
	}
}

.properties.first {
	border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
	margin-top: 30px;
}

.properties.last {
	border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
}

.properties:not(.last) {
	padding-bottom: 0;
}
